<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAKAYIRAM</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    </head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>MAKAYIRAM| <span class="highlight">Welcomes You</span></h1> 
            </div>  
            <nav>
                <ul>
                    <li><a href="index.html">Makayiram</a></li>
                    <li class="current"><a href="about">About</a></li>
                    <li><a href="cuisine">Cuisine</a></li>
                    <li><a href="service">Reservations</a></li>
                </ul>
            </nav>
        </div>
</header>
    <section id="about">
        <div class="container">
            <div class="box">
                    <img src='../static/Image/place.jpg'>
                    <h3>The Place</h3>
                    <p>Welcome to Makayiram, a lovingly restored 18th century Dutch manor that once enjoyed the attention of the royal house of Travancore. In the spirit of its noble heritage it continues to exude timeless elegance through contemporary design and haute cuisine.</p><br><br>
                    <h3>The Ambience</h3>
                    <p>Eating out is a lifestyle, an entertainment that goes beyond seeking scrumptious meals. The ambience in which the delicacies are served is important as it is a relaxation for the mind too while the palate is being addressed. Our modern eateries amply recognise this as borne out by the striking designs opted for, eliciting the theme of the restaurant, complementing the mouth-watering feast served at their tables</p>
            </div>
            <div class="box">
                <img src='../static/Image/(1).jpg'>
            </div>
        </div>
    </section>
    <footer>
            <h3>MAKAYIRAM</h3>
        </footer>

</body>
</html>