<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Makayiram</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>MAKAYIRAM| <span class="highlight">Cuisine</span></h1> 
            </div>  
            <nav>
                <ul>
                    <li><a href="index.html">Makayiram</a></li>
                    <li><a href="about">About</a></li>
                    <li class="current"><a href="cuisine">Cuisine</a></li>
                    <li><a href="service">Reservations</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="details">
            <div class="container">
                <div class="box">
                        <img src='../static/Image/img.jpg'>
                        <h3>The Cuisine</h3>
                        <p>Trivandrum’s culinary history inspired us to combine traditional cuisine with contemporary style. The menu presents a wide repertoire of cuisine from the countries that historically traded with Kerala. The menu is a gastromonical journey through Kerala, India, Morocco and Italy. Each dish has been carefully handpicked for its cultural heritage, authenticity and resonance with the tastes of Kerala and is presented in a multisensory delight of exciting flavours, textures and aromas.</p>
                        <img src='../static/Image/choco.jpg'>
                </div>
                <div class="box">
                        <img src='../static/Image/124.jpg'><br>
                        <p>At Makayiram, food is more than just the taste - It is, along with an exhilarating experience, a journey into the past. Not just the preparation, the presentation too reminds one of India’s rich cultural heritage.</p><br><br>
                        <img src='../static/Image/food.jpg'>
                </div>
            </div>
    </section>
    <footer>
        <h3>MAKAYIRAM</h3>
    </footer>

</body>
</html>